<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Document
    link(rel="stylesheet" href="css/all.css")
  body
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat id, vel nulla voluptates eum praesentium distinctio repellat? Quibusdam eius cum, temporibus similique maxime sint, accusamus nihil distinctio dolorum commodi velit.
  script(src="js/vendor.js")
  script(src="js/all.js")